/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Your CSS file */

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.task-row {
  display: flex; /* Display children inline */
  align-items: center; /* Vertically center elements */
  margin-bottom: 10px; /* Optional margin for spacing between tasks */
}

.task-checkbox {
  margin-right: 10px; /* Add spacing between checkbox and title */
}

.task-title {
  font-size: 18px; /* Adjust the font size as needed */
  /* font-weight: bold; Make the text bold if desired */
  color: #333; /* Set the text color to your preference */
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

